
set sidebar_visible
#set sidebar_format = "%B%?F? [%F]?%* %?N?%N/?%S"
set sidebar_format = "%B %?N?(%N)?%* %S"
set sidebar_short_path                  # Shorten mailbox names
set sidebar_delim_chars="/"             # Delete everything up to the last / character
set mail_check_stats

bind index,pager \CP sidebar-prev
# Ctrl-Shift-P - Previous Mailbox
bind index,pager \CN sidebar-next
# Ctrl-Shift-N - Next Mailbox
bind index,pager \CV sidebar-open
# Ctrl-Shift-V - Open Highlighted Mailbox

bind index,pager B sidebar-toggle-visible
# Use 'B' to switch the Sidebar on and off


set sidebar_width = 20
# Plenty of space
set sidebar_divider_char = '│'
# Pretty line-drawing character

color sidebar_indicator default color17         # Dark blue background
color sidebar_highlight white   color238        # Grey background
color sidebar_spoolfile yellow  default         # Yellow
color sidebar_new       green   default         # Green
#color sidebar_ordinary  default default         # Default colors
color sidebar_flagged   red     default         # Red
color sidebar_divider   color8  default         # Dark grey
